#root {
  /* light color scheme */
  --colors-light-primary-light-1: #ffffff;
  --colors-light-primary-light-2: #d6e3ff;
  --colors-light-primary-dark-1: #285ea7;
  --colors-light-primary-dark-2: #001b3d;
  --colors-light-secondary-light-2: #5ffbd6;
  --colors-light-secondary-dark-1: #006b58;
  --colors-light-secondary-dark-2: #002019;
  --colors-light-surface-1: #fdfbff;
  --colors-light-surface-2: #f2f3fb;
  --colors-light-surface-3: #eceef8;
  --colors-light-surface-4: #e6eaf5;
  --colors-light-surface-5: #dfe5f3;
  --colors-light-surface-6: #d1d9eb;
  /* dark color scheme */
  --colors-dark-primary-light-1: #d6e3ff;
  --colors-dark-primary-light-2: #a9c7ff;
  --colors-dark-primary-dark-1: #00468b;
  --colors-dark-primary-dark-2: #003063;
  --colors-dark-secondary-light-1: #5ffbd6;
  --colors-dark-secondary-light-2: #38debb;
  --colors-dark-secondary-dark-1: #005142;
  --colors-dark-secondary-dark-2: #00382d;
  --colors-dark-surface-1: #0b1626;
  --colors-dark-surface-2: #131f31;
  --colors-dark-surface-3: #182437;
  --colors-dark-surface-4: #1c293e;
  --colors-dark-surface-5: #212f44;
  --colors-dark-surface-5: #212f44;
  /* Neutrals */
  --colors-neutral-1: #ffffff;
  --colors-neutral-2: #e0e2ec;
  --colors-neutral-3: #74777f;
  --colors-neutral-4: #44474e;
  --colors-neutral-5: #1a1b1e;
}

/* generals */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
img {
  height: 200px;
  width: 200px;
}
svg path {
  stroke-width: 1.5px;
}
.alt-icons path {
  stroke-width: 0;
}
a:hover {
  color: initial;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
html,
body {
  max-width: 100vw;
}
/* typography */
.bold {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 48px;
  line-height: 56px;
}
h2 {
  font-size: 32px;
  line-height: 40px;
}
h3 {
  font-size: 24px;
  line-height: 36px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
}
h6 {
  font-size: 12px;
  line-height: 20px;
}
.type1 {
  font-size: 48px;
  line-height: 56px;
}
.type2 {
  font-size: 32px;
  line-height: 40px;
}
.type3 {
  font-size: 24px;
  line-height: 36px;
}
.type4 {
  font-size: 20px;
  line-height: 30px;
}
.type5 {
  font-size: 16px;
  line-height: 24px;
}
.type6 {
  font-size: 12px;
  line-height: 20px;
}

/*  */

/* dark mode specifics */
.app.dark-mode {
  & {
    background-color: var(--colors-dark-surface-1);
  }

  .header {
    border-bottom: 1px solid var(--colors-dark-surface-4);
  }
  .header h5 {
    color: var(--colors-dark-secondary-light-2);
  }

  .header-right:hover {
    background-color: var(--colors-dark-surface-3);
  }
  .header-right svg path {
    fill: var(--colors-dark-secondary-light-2);
  }

  .hero-sub-1-intro {
    color: var(--colors-dark-primary-light-1);
  }
  .hero-sub-1-titles {
    color: var(--colors-dark-secondary-light-2);
  }
  .hero-sub-1-desc {
    color: var(--colors-dark-primary-light-1);
  }

  .hero-sub-1-resume {
    background-color: var(--colors-dark-secondary-light-2);
    color: var(--colors-dark-surface-1);
  }
  .hero-sub-1-icons a {
    border: 1px solid var(--colors-dark-secondary-light-2);
  }
  .hero-sub-1-icons a svg.fill path {
    stroke: none;
    fill: var(--colors-dark-secondary-light-2);
  }
  .hero-sub-1-icons a svg path {
    stroke: var(--colors-dark-secondary-light-2);
    fill: none;
  }
  .hero-sub-2 {
    background-color: var(--colors-dark-surface-2);
  }
  .alt-icons path {
    fill: var(--colors-dark-secondary-light-2) !important;
    stroke: none;
  }
  .section-divider {
    border-top: 1px solid var(--colors-dark-surface-4);
  }
  .section-divider h2 {
    color: var(--colors-neutral-1);
  }
  .section-divider p {
    color: var(--colors-dark-primary-light-1);
  }

  .card-counter p {
    color: var(--colors-dark-primary-light-1);
  }
  .service-card {
    background-color: var(--colors-dark-surface-2);
    border-top: 4px solid var(--colors-dark-secondary-light-2);
  }
  .service-card-icon {
    background-color: var(--colors-dark-surface-4);
  }
  .service-card-icon svg path {
    stroke: var(--colors-dark-secondary-light-2);
    fill: none;
  }
  .service-card-icon svg.fill path {
    stroke:none;
    fill: var(--colors-dark-secondary-light-2);
  }

  .service-card h3 {
    color: var(--colors-neutral-1);
  }
  .service-card p {
    color: var(--colors-dark-primary-light-1);
  }
  .project-card {
    background-color: var(--colors-dark-surface-2);
  }
  .service-card-container,
  .project-card-container {
    &::-webkit-scrollbar-thumb {
      background-color: var(--colors-dark-surface-2);
      width: 10px;
    }
  }
  .project-card-intro {
    border-top: 1px solid var(--colors-dark-surface-4);
  }
  .project-card-intro h4 {
    color: var(--colors-neutral-1);
  }
  .project-card-intro p {
    color: var(--colors-dark-primary-light-1);
  }
  .project-card-links a {
    color: var(--colors-dark-secondary-light-2);
  }
  .project-card-tag {
    background-color: var(--colors-dark-surface-4);
    color: var(--colors-neutral-1);
  }
  .project-card-tags {
    &::-webkit-scrollbar-thumb {
      background-color: var(--colors-dark-surface-4);
      width: 10px;
    }
  }

  .client-pill {
    background-color: var(--colors-dark-surface-4);
    color: var(--colors-dark-secondary-light-2);
  }
  .stack-pill {
    background-color: var(--colors-dark-surface-4);
    color: var(--colors-dark-secondary-light-2);
    border-left: 4px solid var(--colors-dark-secondary-light-2);
  }
  footer {
    background-color: var(--colors-dark-secondary-light-2);
  }
  .footer-section-title {
    color: var(--colors-dark-surface-1);
  }
  .footer-icons a {
    background: var(--colors-dark-surface-1);
  }
  .footer-icons a svg path {
    stroke: var(--colors-dark-secondary-light-2);
  }
  .footer-icons a svg.fill path {
    fill: var(--colors-dark-secondary-light-2);
  }
}

/* light mode specifics */
.app.light-mode {
  & {
    background-color: var(--colors-light-surface-2);
  }

  .header {
    border-bottom: 1px solid var(--colors-light-surface-6);
  }
  .header h5 {
    color: var(--colors-light-primary-dark-2);
  }
  .header-right svg path {
    fill: var(--colors-light-primary-dark-2);
  }
  .header-right svg.fill path {
    fill: var(--colors-light-primary-dark-2);
  }

  .header-right:hover {
    background-color: var(--colors-light-surface-4);
  }
  .hero-sub-1-intro {
    color: var(--colors-neutral-4);
  }
  .hero-sub-1-titles {
    color: var(--colors-light-primary-dark-2);
  }
  .hero-sub-1-desc {
    color: var(--colors-neutral-4);
  }

  .hero-sub-1-resume {
    background-color: var(--colors-light-primary-dark-2);
    color: var(--colors-light-primary-light-2);
  }
  .hero-sub-1-icons a {
    border: 1px solid var(--colors-light-primary-dark-2);
  }
  .hero-sub-1-icons a svg path {
    stroke: var(--colors-light-primary-dark-2);
    fill: none;
  }
  .hero-sub-1-icons a svg.fill path {
    fill: var(--colors-light-primary-dark-2);
    stroke: none;
  }
  .hero-sub-2 {
    background-color: var(--colors-light-surface-4);
  }
  .alt-icons path {
    fill: var(--colors-light-primary-dark-2) !important;
    stroke: none;
  }
  .section-divider {
    border-top: 1px solid var(--colors-light-surface-6);
  }
  .section-divider h2 {
    color: var(--colors-light-primary-dark-2);
  }
  .section-divider p {
    color: var(--colors-neutral-4);
  }

  .card-counter p {
    color: var(--colors-neutral-4);
  }
  .service-card {
    background-color: var(--colors-light-surface-4);
    border-top: 4px solid var(--colors-light-primary-dark-2);
  }
  .service-card-icon {
    background-color: var(--colors-light-surface-6);
  }
  .service-card-icon svg path {
    stroke: var(--colors-light-primary-dark-2);
    fill: none;
  }
  .service-card-icon svg.fill path {
    fill: var(--colors-light-primary-dark-2);
    stroke: none;
  }

  .service-card h3 {
    color: var(--colors-light-primary-dark-2);
  }
  .service-card p {
    color: var(--colors-neutral-4);
  }
  .service-card-container,
  .project-card-container {
    &::-webkit-scrollbar-thumb {
      background-color: var(--colors-light-surface-4);
      width: 10px;
    }
  }
  .project-card {
    background-color: var(--colors-light-surface-4);
  }
  .project-card-intro {
    border-top: 1px solid var(--colors-light-surface-6);
  }
  .project-card-intro h4 {
    color: var(--colors-light-primary-dark-2);
  }
  .project-card-intro p {
    color: var(--colors-neutral-4);
  }
  .project-card-links a {
    color: var(--colors-light-primary-dark-2);
  }
  .project-card-tag {
    background-color: var(--colors-light-surface-6);
    color: var(--colors-light-primary-dark-2);
  }
  .project-card-tags {
    &::-webkit-scrollbar-thumb {
      background-color: var(--colors-light-surface-6);
      width: 10px;
    }
  }
  .client-pill {
    background-color: var(--colors-light-surface-6);
    color: var(--colors-light-primary-dark-2);
  }
  .stack-pill {
    background-color: var(--colors-light-surface-6);
    color: var(--colors-light-primary-dark-2);
    border-left: 4px solid var(--colors-light-primary-dark-2);
  }
  footer {
    background-color: var(--colors-light-primary-dark-2);
  }
  .footer-section-title {
    color: var(--colors-light-surface-2);
  }
  .footer-icons a {
    background: var(--colors-light-primary-light-2);
  }
  .footer-icons a svg path {
    stroke: var(--colors-light-primary-dark-2);
  }
  .footer-icons a svg.fill path {
    fill: var(--colors-light-primary-dark-2);
  }
  .footer-section-desc {
    color: var(--colors-light-primary-light-2);
  }
}

/* others */
.main,
.header {
  margin: 0 64px;
  margin-bottom: 80px;
}
.header {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right {
  display: flex;
  gap: 16px;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  align-items: flex-start;
}
.hero-sub-1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 500px;
}
.hero-sub-1-titles {
  height: 112px;
  display: flex;
  align-items: center;
}
.hero-title {
  overflow: hidden;
}
.hero-title {
  height: 112px;
  transition: all 0.5s;
  // transition: cubic-bezier(0.075, 0.82, 0.165, 0.2);
}

.hero-title.pre-animation {
  height: 0;
}
.hero-sub-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hero-sub-1-resume {
  border-radius: 4px;
  padding: 8px 16px;
  font-family: "Saira", sans-serif;
  font-weight: 700;
  display: flex;
  width: max-content;
}
.hero-sub-1-icons {
  display: flex;
  gap: 16px;
}
.hero-sub-1-icons a {
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-sub-2 {
  height: 100%;
  width: 100%;
  max-height: 350px;
  max-width: 350px;
  padding: 48px;
  border-radius: 50%;
  
    margin-left: auto;
    margin-right: auto;
}
.hero-sub-2 img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.card-counter {
  display: none;
}
.section-divider {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 8px;
}
.service-card-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(6, 1fr);
}
.service-card:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row-start: row;
}
.service-card:nth-child(2) {
  grid-column: 3 / span 2;
  grid-row: row;
}
.service-card:nth-child(3) {
  grid-column: 5 / span 2;
  grid-row: row;
}
.service-card:nth-child(4) {
  grid-column: 2 / span 2;
  grid-row: row 2;
}
.service-card:nth-child(5) {
  grid-column: 4 / span 2;
  grid-row: row 2;
}

.service-card {
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.service-card h3,
.service-card p {
  text-align: center;
}
.service-card-icon {
  height: 80px;
  width: 80px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.service-card-icon svg {
  width: 32px;
  height: 32px;
}
.project-card-container {
  display: grid;
  gap: 16px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.project-card {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.project-card-intro h4 {
    margin-top:1rem;
    margin-bottom:0.5rem;
  }
.project-card-image {
  border-radius: 8px;
  width: 100%;
  width: 100%;
  max-height: 160px;
  overflow: hidden;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-card-image img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit:cover;
}
.project-card-links a {
  text-decoration: underline;
  font-weight: 700;
}
.project-card-links {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  width: 100%;
}
.project-card-tag {
  padding: 4px 16px;
  border-radius: 4px;
}
.project-card-tags {
  &::-webkit-scrollbar {
    height: 4px;
  }
}
.project-card-tags {
  padding-bottom: 8px;
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  align-self: flex-end;
  overflow-x: scroll;
}

.client-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.client-pill {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-right: 16px;
  align-items: center;
  border-radius: 4px;
  gap: 8px;
  font-weight: 600;
  min-width:200px;
}
.stacks-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 120px;
  gap: 16px;
  justify-content: center;
}
.stack-pill {
  display: flex;
  padding: 8px 8px;
  padding-right: 16px;
  align-items: center;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  gap: 8px;
}
.stack-pill svg {
  height: 24px;
}
.stack-title {
  font-weight: 600;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section-divider {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 8px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}
.footer-icons a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
}
.footer-icons a svg path {
  fill: none;
}
.footer-icons a svg.fill path {
  stroke: none;
}
/* medium screen */
@media screen and (max-width: 870px) and (min-width: 481px) {
  .main,
  .header {
    margin: 0 32px;
    margin-bottom: 32px;
  }
  .hero-sub-1-titles {
    height: 112px;
    flex-direction: column;
  }
  .hero-title {
    height: 112px;
  }
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;
  }
  .hero-sub-1 {
    text-align: center;
    align-items: center;
  }
  .service-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .service-card:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row-start: row;
  }
  .service-card:nth-child(2) {
    grid-column: 3 / span 2;
    grid-row: row;
  }
  .service-card:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: row 2;
  }
  .service-card:nth-child(4) {
    grid-column: 3 / span 2;
    grid-row: row 2;
  }
  .service-card:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: row 3;
  }
  .project-card-container {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* small screen */
@media screen and (max-width: 480px) {
  .bold {
    font-weight: 700;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 28px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 36px;
  }
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
  h5 {
    font-size: 14px;
    line-height: 24px;
  }
  h6 {
    font-size: 12px;
    line-height: 18px;
  }
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;
  }
  .hero-sub-1 {
    text-align: center;
    align-items: center;
  }
  .hero-sub-1-titles {
    height: 80px;
    flex-direction: column;
  }
  .hero-title {
    height: 80px;
  }
  .hero-sub-2 {
    height: 100%;
    width: 100%;
    max-height: 200px;
    max-width: 200px;
    padding: 32px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .main,
  .header {
    margin: 0 16px;
    margin-bottom: 32px;
  }
  .service-card-container {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 24px;
  }

  .card-counter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
  }
  .service-card,
  .project-card {
    min-width: 300px;
  }
  .project-card-image img {
    min-width: 268;
    height: auto;
    aspect-ratio: 4/3;
  }
  .project-card-container {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 24px;
  }
  .stacks-container {
    padding: 0 24px;
  }
  footer {
    margin-top: 24px;
  }
}
